* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(blue), to(red));
  background: linear-gradient(to left, blue, red);
  z-index: -1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a div {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 10%, 1fr, 1fr, 10%;
      grid-template-columns: 10%, 1fr, 1fr, 10%;
  min-height: 10vh;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

a div h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  font-size: 38px;
  opacity: 1;
  z-index: 10000000;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.hero {
  height: 70%;
  width: 80%;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .headline {
  position: absolute;
  top: 80%;
  left: 20%;
  font-size: 100px;
  -webkit-transform: translate(-20%, -70%);
          transform: translate(-20%, -70%);
  color: white;
  z-index: 1;
}

.hero::after {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}

section {
  margin-top: 40px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  min-height: 100vh;
  grid-gap: 2rem;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.img-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.modal p {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.fullimg {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.fullimg.open {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  z-index: 3;
}

.modal.open {
  z-index: 3;
  opacity: 1;
  pointer-events: all;
}

footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 10px;
}

footer p {
  padding-top: 2%;
  padding-left: 7%;
}

@media screen and (max-width: 600px) {
  .hero .headline {
    font-size: 70px;
  }
  .fullimg {
    width: 80%;
    height: auto;
  }
  .modal p {
    font-size: 1rem;
  }
  footer p {
    padding-top: 0;
    padding-left: 0;
  }
}
/*# sourceMappingURL=prod.css.map */