*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left ,blue, red);
    z-index: -1;
}
a{
    text-decoration: none;
    cursor: pointer;
div{
    display: grid;
    position: relative;
    grid-template-columns: 10%, 1fr, 1fr, 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
    h3 {
        grid-column: 2/7;
        font-size: 38px;
        opacity: 1;
        z-index: 10000000;
    }
}
}

header{

    section{
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
}

.hero {
    height: 70%;
    width: 80%;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .headline{
        position: absolute;
        top: 80%;
        left: 20%;
        font-size: 100px;
        transform: translate(-20%, -70%);
        color: white;
        z-index: 1;
    }
}

.hero::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

section {
    margin-top: 40px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr ));
    min-height: 100vh;
    grid-gap: 2rem;
}

.img-container{
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-out;
        cursor: pointer;
    }

    img:hover{
        transform: scale(1.2);
    }
}

.modal{
    background: rgba(0,0,0,0.8);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;

    p{
        color: white;
        font-size: 2rem;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
    }

}

.fullimg{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

.fullimg.open {
    transform: translate(-50%, -50%) scale(1);
    z-index: 3;
}

.modal.open {
    z-index: 3;
    opacity: 1;
    pointer-events: all;
}

footer{
    background-color: black;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    padding: 10px;

    p{
      padding-top: 2%;
      padding-left: 7%;
    }
  }

  @media screen and (max-width: 600px) {

    .hero{
        .headline{
            font-size: 70px;
        }
    }

    .fullimg{
        width: 80%;
        height: auto;
    }

    .modal{
        p{
            font-size: 1rem;
        }
    }

    footer{
        p{
          padding-top: 0;
          padding-left: 0;
        }
      }
  }