@import url("https://fonts.googleapis.com/css?family=Arapey");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arepey;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro div h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
}

.intro div p {
  position: absolute;
  top: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  color: red;
  font-size: 25px;
  text-decoration: underline;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 55vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-header p {
  font-size: 2rem;
}

.main-header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header h1 span {
  color: #b50d10;
}

img {
  width: 100%;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .card {
    display: block;
  }
  .main-header {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  footer p {
    padding-top: 0;
    padding-left: 0;
  }
}

footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

footer p {
  padding-top: 2%;
  padding-left: 7%;
  margin-bottom: 0;
}

.icons {
  top: 75%;
  left: 0;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  position: fixed;
  z-index: 5;
}

.icons ul {
  padding: initial;
}

.icons ul li {
  height: 40px;
  width: 40px;
  list-style-type: none;
  padding-left: 12px;
  padding-top: 6px;
  margin-top: 5px;
  color: #fff;
  background-color: #000;
}

.icons ul li:hover {
  padding-left: 30px;
  width: 80px;
  -webkit-transition: 1s;
  transition: 1s;
}

.icons .facebook {
  background-color: #3b5998;
}

.icons .youtube {
  background: #ff0000;
}

.icons .linkedin {
  background: #007bb5;
}

.icons .twitter {
  background: #55acee;
}

.icons .instagram {
  background: #ff4800;
}
/*# sourceMappingURL=style.css.map */